=begin
#Vehicle Maintance Manager

#This is a sample vehicle maintance manager server.

OpenAPI spec version: 0.0.1
Contact: apiteam@vmmapi
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module SwaggerClient
  class FineApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a fine to the vehicle
    # 
    # @param vehicle_id ID of vehicle that needs to be updated
    # @param amount The total amount of fines
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_fine_to_vehicle_id(vehicle_id, amount, opts = {})
      add_fine_to_vehicle_id_with_http_info(vehicle_id, amount, opts)
      return nil
    end

    # Add a fine to the vehicle
    # 
    # @param vehicle_id ID of vehicle that needs to be updated
    # @param amount The total amount of fines
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_fine_to_vehicle_id_with_http_info(vehicle_id, amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FineApi.add_fine_to_vehicle_id ..."
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling FineApi.add_fine_to_vehicle_id"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling FineApi.add_fine_to_vehicle_id"
      end
      # resource path
      local_var_path = "/fine/vehicle/{vehicleId}".sub('{' + 'vehicleId' + '}', vehicle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params["amount"] = amount

      # http body (model)
      post_body = nil
      auth_names = ['vehiclegarage_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FineApi#add_fine_to_vehicle_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a fine
    # 
    # @param fine_id fine id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [nil]
    def delete_fine(fine_id, opts = {})
      delete_fine_with_http_info(fine_id, opts)
      return nil
    end

    # Deletes a fine
    # 
    # @param fine_id fine id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_fine_with_http_info(fine_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FineApi.delete_fine ..."
      end
      # verify the required parameter 'fine_id' is set
      if @api_client.config.client_side_validation && fine_id.nil?
        fail ArgumentError, "Missing the required parameter 'fine_id' when calling FineApi.delete_fine"
      end
      # resource path
      local_var_path = "/fine/{fineId}".sub('{' + 'fineId' + '}', fine_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])
      header_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['vehiclegarage_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FineApi#delete_fine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find fine by ID
    # Returns a single fine
    # @param fine_id ID of fine to return
    # @param [Hash] opts the optional parameters
    # @return [Fine]
    def get_fine_by_id(fine_id, opts = {})
      data, _status_code, _headers = get_fine_by_id_with_http_info(fine_id, opts)
      return data
    end

    # Find fine by ID
    # Returns a single fine
    # @param fine_id ID of fine to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Fine, Fixnum, Hash)>] Fine data, response status code and response headers
    def get_fine_by_id_with_http_info(fine_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FineApi.get_fine_by_id ..."
      end
      # verify the required parameter 'fine_id' is set
      if @api_client.config.client_side_validation && fine_id.nil?
        fail ArgumentError, "Missing the required parameter 'fine_id' when calling FineApi.get_fine_by_id"
      end
      # resource path
      local_var_path = "/fine/{fineId}".sub('{' + 'fineId' + '}', fine_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Fine')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FineApi#get_fine_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
