=begin
#Vehicle Maintance Manager

#This is a sample vehicle maintance manager server.

OpenAPI spec version: 0.0.1
Contact: apiteam@vmmapi
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module SwaggerClient
  class RefuelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Add a refuel bill to the vehicle
    # 
    # @param vehicle_id ID of vehicle that needs to be updated
    # @param quantity Fuel Quantity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_refuel_to_vehicle_id(vehicle_id, quantity, opts = {})
      add_refuel_to_vehicle_id_with_http_info(vehicle_id, quantity, opts)
      return nil
    end

    # Add a refuel bill to the vehicle
    # 
    # @param vehicle_id ID of vehicle that needs to be updated
    # @param quantity Fuel Quantity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_refuel_to_vehicle_id_with_http_info(vehicle_id, quantity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefuelApi.add_refuel_to_vehicle_id ..."
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling RefuelApi.add_refuel_to_vehicle_id"
      end
      # verify the required parameter 'quantity' is set
      if @api_client.config.client_side_validation && quantity.nil?
        fail ArgumentError, "Missing the required parameter 'quantity' when calling RefuelApi.add_refuel_to_vehicle_id"
      end
      # resource path
      local_var_path = "/refuel/vehicle/{vehicleId}".sub('{' + 'vehicleId' + '}', vehicle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params["quantity"] = quantity

      # http body (model)
      post_body = nil
      auth_names = ['vehiclegarage_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefuelApi#add_refuel_to_vehicle_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a refuel bill
    # 
    # @param refuel_id refuel id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [nil]
    def delete_refuel(refuel_id, opts = {})
      delete_refuel_with_http_info(refuel_id, opts)
      return nil
    end

    # Deletes a refuel bill
    # 
    # @param refuel_id refuel id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_refuel_with_http_info(refuel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefuelApi.delete_refuel ..."
      end
      # verify the required parameter 'refuel_id' is set
      if @api_client.config.client_side_validation && refuel_id.nil?
        fail ArgumentError, "Missing the required parameter 'refuel_id' when calling RefuelApi.delete_refuel"
      end
      # resource path
      local_var_path = "/refuel/{refuelId}".sub('{' + 'refuelId' + '}', refuel_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])
      header_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['vehiclegarage_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefuelApi#delete_refuel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find refuel bill by ID
    # Returns a single refuel bill
    # @param refuel_id ID of refuel to return
    # @param [Hash] opts the optional parameters
    # @return [Refuel]
    def get_refuel_by_id(refuel_id, opts = {})
      data, _status_code, _headers = get_refuel_by_id_with_http_info(refuel_id, opts)
      return data
    end

    # Find refuel bill by ID
    # Returns a single refuel bill
    # @param refuel_id ID of refuel to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Refuel, Fixnum, Hash)>] Refuel data, response status code and response headers
    def get_refuel_by_id_with_http_info(refuel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: RefuelApi.get_refuel_by_id ..."
      end
      # verify the required parameter 'refuel_id' is set
      if @api_client.config.client_side_validation && refuel_id.nil?
        fail ArgumentError, "Missing the required parameter 'refuel_id' when calling RefuelApi.get_refuel_by_id"
      end
      # resource path
      local_var_path = "/refuel/{refuelId}".sub('{' + 'refuelId' + '}', refuel_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Refuel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefuelApi#get_refuel_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
